services: 
  bot_service:
    build:
      dockerfile: Dockerfile
      context: bot-server/
    depends_on:
      values_service:
        condition: service_healthy
      schema_service:
        condition: service_healthy
  values_service:
    build:
      dockerfile: Dockerfile
      context: values-server/
  schema_service:
    build:
      dockerfile: Dockerfile
      context: schema-server/